.blog {
    &__content {
        min-height: 36rem;
    }
    &__header {
        @apply py-4 mb-1;
    }

    &__title {
        @apply text-5xl font-extrabold text-primary;
    }

    &__desc {
        @apply text-gray-400;
    }
}
