.blog__list {
    @apply flex flex-col gap-3;
}

.post-preview {
    @apply flex gap-6;
    & > div:first-child {
        @apply sm:w-20 md:w-32;
    }

    & > article {
        @apply flex-1;
    }

    &__date {
        @apply flex flex-col w-full text-center;
        &__day {
            @apply text-6xl font-semibold dark:text-gray-300;
        }
        &__month-n-year {
            @apply text-gray-400;
        }
    }


    &__title {
        @apply text-2xl font-semibold text-primary hover:underline mb-2;
    }

    &__desc {
        @apply text-lg leading-6 line-clamp-2 dark:text-white;
    }

}
