/* .post {

} */

.post__header {
    margin-bottom: 0.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.post__tags {
    display: inline-flex;
    gap: 0.5rem;
}

.post__tag {
    --text-opacity: 1;
    color: rgba(161,161,170,var(--text-opacity));
}

.post__title {
    font-size: 3rem;
    line-height: 1;
    font-weight: 800;
    --text-opacity: 1;
    color: rgba(126,34,206,var(--text-opacity));
}

.post__desc {
    --text-opacity: 1;
    color: rgba(113,113,122,var(--text-opacity));
}

.post__author {
    text-decoration: none;
}

.post__date {
    --text-opacity: 1;
    color: rgba(161,161,170,var(--text-opacity));
}

.prose {
    font-size: 1rem;
    line-height: 1.75;
}
/*
.post__error {

} */
