.blog__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.post-preview {
    display: flex;
    gap: 1.5rem;
}

.post-preview:first-child {
    @media (min-width: 768px) {
        width: 8rem;
    }
    @media (min-width: 640px) {
        width: 5rem;
    }
}

.post-preview:last-child {
    flex: 1 1 0%
}

.post-preview__date {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}
.post-preview__date__day {
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 600;
}
.post-preview__date__month-n-year {
    --text-opacity: 1;
    color: rgba(161,161,170,var(--text-opacity));
}

.post-preview__title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    --text-opacity: 1;
    color: rgba(126,34,206,var(--text-opacity));
}

.post-preview__desc {
    margin: 0;
}
