/* Header */
.header {
    @apply flex gap-4 border-b py-3;
    &__logo-img {
        @apply w-16 h-16 rounded-full overflow-hidden;
     }

     &__meta {
        @apply flex-1;
     }

    &__title {
        @apply text-4xl font-extrabold md:text-5xl;
         --text-opacity: 1;
        color: rgba(107,33,168,var(--text-opacity));
     }

     &__meta-more {
        @apply flex;
     }

     &__desc {
        @apply text-xl flex-1 dark:text-gray-200;
     }

     &__nav {
         @apply flex;
     }

     &__ref-list {
        @apply flex gap-3 text-gray-400;
        --text-opacity: 1;
        color: rgba(161,161,170,var(--text-opacity));
     }
}
